<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-3">
  <div class="container">
    <a class="navbar-brand playful-logo" routerLink="/">
      <i class="fa-solid fa-face-smile smile-icon"></i>
      <span class="logo-letter l1">I</span>
      <span class="logo-letter l2">C</span>
      <span class="logo-letter l3">R</span>
      <span class="logo-letter l4">2</span>
      <span class="logo-letter l5">k</span>
      <span class="logo-letter l6">2</span>
      <span class="logo-letter l7">5</span>
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 toy-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-house"></i> Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">
            <i class="fa-solid fa-circle-info"></i> About
          </a>
        </li>

        @if (hasAuth()) {

        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">
            <i class="fa-solid fa-user"></i> Profile
          </a>
        </li>

        <li class="nav-item">
          <button type="button" class="nav-link toy-nav-link" (click)="doLogout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
          </button>
        </li>

        } @else {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
          </a>
        </li>
        }

      </ul>

      @if (hasAuth()) {
      <div class="navbar-text text-muted">
        <i class="fa-solid fa-user"></i> {{ getUserName() }}
      </div>
      }
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet />
  <div class="text-center mt-3">
    <p>&copy; {{year}} Singidunum - TF - SII - Interakcija Covek Racunar</p>
  </div>
</div>