version: "3.1"

language: "sr"

pipeline:
- name: WhitespaceTokenizer
- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: CountVectorsFeaturizer
  analyzer: char_wb
  min_ngram: 3
  max_ngram: 5
- name: DIETClassifier
  epochs: 100
- name: EntitySynonymMapper
- name: ResponseSelector
  epochs: 80
- name: FallbackClassifier
  threshold: 0.35
  ambiguity_threshold: 0.1

policies:
  - name: RulePolicy
    enable_fallback_prediction: false

  - name: MemoizationPolicy
  - name: TEDPolicy
    max_history: 10
    epochs: 50

assistant_id: 20260111-214733-tense-box
